<!-- do not touch -->
<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type=text/css media="screen">
      <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet" media="screen">
      <link href="{{ url_for('static', filename='css/bootstrap-theme.css.map') }}" rel="stylesheet" media="screen">
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <!-- Bootstrap jQuery plugins compiled and minified -->
      <title>chojayr</title> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content>
      <meta name="author" content>
  </head>
  <body>
	<!-- Navigator Content -->
	<div class="container">
	  <div class="span12 v-center">
	    <h1 class="text-muted">Dashboard</h1>
	  </div> <! --col -->
	  <hr>
	</div>
	<p>
	<div class="container">
	  <div class="masthead clearfix">
	    <ul class="nav nav-pills">  <!-- pull-right" style="padding:20px;"> -->
	      <li>
		<a href="/">TWITTER</a>
		</li>
	      <li class="active">
		<a href="/github">GITHUB</a>
		</li>
	      <li>
		<a href="/gplus">GOOGLE+</a>
	      </li>
	    </ul>
          </div>
	</div>
	<p>
	<div class="container">
	<hr>
	<div class="jumbotron">
 	<div class="row">
	  <div class="col-md-12">
	  <div class="well center-block">
	      <div class="github-card" data-user="chojayr"></div>
	      <script src="http://lab.lepture.com/github-cards/widget.js"></script>
	  </div>
	  </div>
	  </div>
	  </div>
	</div>
	<footer class="footer">
	<div class="navbar navbar-fixed-bottom">
	  <div class="text-center">
	    <p>
		<code>Hi I'm a FOOTER! Who cares!?</code>
	    </p>
	  </div>
	</div>
	</footer>
   
   <!-- do not touch -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
   </body>
</html>


